<main role="main">
  <h1>
    <div class="text-center"><b>Reports And Agreements</b></div>
  </h1>
  <br />
  <div class="row mb-2">
    <div class="col-md-6 news-data">
      <div
        class="
          row
          g-0
          border
          rounded
          overflow-hidden
          flex-md-row
          mb-4
          shadow-sm
          h-md-250
          position-relative
        "
      >
        <div class="col p-4 d-flex flex-column position-static">
          <p class="card-text mb-auto">
            This is ARCI Report. About Chary Formula a filaments less UVC High
            Intensity Light for the first time in The world
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img
            src="../../assets/respected___innovatornarsimhacharystechnologytogenera/0009.jpg"
            width="200"
            height="300"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-6 news-data">
      <div
        class="
          row
          g-0
          border
          rounded
          overflow-hidden
          flex-md-row
          mb-4
          shadow-sm
          h-md-250
          position-relative
        "
      >
        <div class="col p-4 d-flex flex-column position-static">
          <p class="mb-auto">
            This is CSIR-CCMB Report. About killing Corona, Covid19, Cove-2,
            SAARS all types of Virus & Bacterias in only 15 Seconds With Chary
            Formula filaments less UVC High Intencity Light for the first time
            in the world
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img
            src="../../assets/respected___innovatornarsimhacharystechnologytogenera/001.jpg"
            width="200"
            height="300"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6 news-data">
      <div
        class="
          row
          g-0
          border
          rounded
          overflow-hidden
          flex-md-row
          mb-4
          shadow-sm
          h-md-250
          position-relative
        "
      >
        <div class="col p-4 d-flex flex-column position-static">
          <p class="card-text mb-auto">
            This is CSIR-CCMB Report. About killing Corona, Covid19, Cove-2,
            SAARS All types of virus & bacterias in only 15 Seconds with Chary
            Formula a filament less UVC High Intencity Light for the First Time
            in The World And This Moment is CSIR-CCMB MoA&MOU With Me. This Also
            First Time In CSIR-CCMB History
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img
            src="../../assets/respected___innovatornarsimhacharystechnologytogenera/002.jpg"
            width="200"
            height="300"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-6 news-data">
      <div
        class="
          row
          g-0
          border
          rounded
          overflow-hidden
          flex-md-row
          mb-4
          shadow-sm
          h-md-250
          position-relative
        "
      >
        <div class="col p-4 d-flex flex-column position-static">
          <p class="mb-auto">
            This is CSIR-CCMB Report. About Killing Corona, Covid19, Cove-2,
            SAARS All types of Virus & Bacterias in only 15 Seconds With Chary
            Formula Filaments less UVC High Intencity Light for the first time
            in The World And This Moment is CSIR-CCMB MoA&MOU With Me... This
            Also the first time In CSIR-CCMB History Final Page.
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img
            src="../../assets/respected___innovatornarsimhacharystechnologytogenera/003.jpg"
            width="200"
            height="300"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6 news-data">
      <div
        class="
          row
          g-0
          border
          rounded
          overflow-hidden
          flex-md-row
          mb-4
          shadow-sm
          h-md-250
          position-relative
        "
      >
        <div class="col p-4 d-flex flex-column position-static">
          <p class="card-text mb-auto">
            This is TSIC Telangana Government Report. About Killing Corona,
            Covid19, Cove-2, SAARS All types of Virus & Bacterias Only 15Seconds
            With Chary Formula Filaments less UVC High Intencity Light First
            Time in The World
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img
            src="../../assets/respected___innovatornarsimhacharystechnologytogenera/004.jpg"
            width="200"
            height="300"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="
          row
          g-0
          border
          rounded
          overflow-hidden
          flex-md-row
          mb-4
          shadow-sm
          h-md-250
          position-relative
        "
      >
        <div class="col p-4 d-flex flex-column position-static">
          <p class="mb-auto">
            This is TSIC Telangana Government Report. About Killing Corona,
            Covid19, Cove-2, SAARS All types of Virus & Bacterias Only 15Seconds
            With Chary Formula Filaments less UVC High Intencity Light First
            Time in The World
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img
            src="../../assets/respected___innovatornarsimhacharystechnologytogenera/005.jpg"
            width="200"
            height="300"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class=".col-8 .col-sm-6 last-news-data">
      <div
        class="
          row
          g-0
          border
          rounded
          overflow-hidden
          flex-md-row
          mb-4
          shadow-sm
          h-md-250
          position-relative
        "
      >
        <div class="col p-4 d-flex flex-column position-static">
          <p class="card-text mb-auto">
            This My Special Interview Article in Government Of Telangana
            TS-INDUSTRY Department
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img
            src="../../assets/respected___innovatornarsimhacharystechnologytogenera/006.jpeg"
            width="200"
            height="300"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

  <div class="container marketing">
    <div class="album py-5 bg-light">
      <h1>
        <div class="text-center"><b>Some Of My Work</b></div>
      </h1>
      <br />
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="../../assets/attachments/IMG_20200917_224726.jpg"
                height="350"
                width="100%"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="../../assets/attachments/666 copy.jpg "
                height="350"
                width="100%"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="../../assets/attachments/IMG_20200917_224613.jpg"
                height="350"
                width="100%"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="../../assets/coronatelugunewspapersandoldtubelightphotosalso/1.4.jpg "
                height="350"
                width="100%"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="../../assets/coronatelugunewspapersandoldtubelightphotosalso/IMG_20200917_223639.jpg"
                height="350"
                width="100%"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="../../assets//coronatelugunewspapersandoldtubelightphotosalso/IMG_20200917_224159.jpg"
                height="350"
                width="100%"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="../../assets/someoldtubelightnewspapersbutitsmostimpertent (1)/001 My Article in The Hindu English News Paper Main Edition .jpg"
                height="350 "
                width="100%"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="../../assets/someoldtubelightnewspapersbutitsmostimpertent (1)/002 THE ECONOMIC TIMES.jpg"
                height="350"
                width="100%"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="../../assets/someoldtubelightnewspapersbutitsmostimpertent (1)/003 My Article in The Indian Express English News Paper Main Edition.jpg"
                height="350"
                width="100%"
                alt=""
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="../../assets/someoldtubelightnewspapersbutitsmostimpertent (1)/004 My Article in The Pioneer English News Paper Main Edition.jpg"
                height="350"
                width="100%"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="../../assets/someoldtubelightnewspapersbutitsmostimpertent (1)/005 My Article in Deccan Herald English News Paper Main Edition.jpg"
                height="350"
                width="100%"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="../../assets/someoldtubelightnewspapersbutitsmostimpertent (1)/006 My Article in Deccan Chronicle English News Paper Main Edition .jpg"
                height="350"
                width="100%"
                alt=""
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="../../assets/someoldtubelightnewspapersbutitsmostimpertent (1)/007 My Article in The Hans India English News Paper Main Edition ,.,.jpg"
                height="350"
                width="100%"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="../../assets/someoldtubelightnewspapersbutitsmostimpertent (1)/THE BETTER INDIA MAIN.jpg 2.jpg 3.jpg"
                height="350"
                width="100%"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                src="../../assets/someoldtubelightnewspapersbutitsmostimpertent (1)/YOUR STORY MAIN.jpg"
                height="350"
                width="100%"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
