.sliderr{
    background-color:#212127;
    height: 550px;
}
.img-slide{
    height: 464px;
}
.abtme{
    display: flex;
}
.abt-data{
    padding-left: 20px;
}
a{
    color:#0000FF;
}
a:link{

    text-decoration: none;
}